.arrow{
    color: white;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    padding-right: 6px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    width: 100%;
    background-color: purple;
    margin: 0px;
}

.item-body{
    max-height: 0;
    overflow: hidden;
    transform: scale(0);
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
}

.all-checkbox{
    display: none;
}

span{
    transition: all 0.5s ease-in-out;
}

#chkbox-1:checked ~ label #arr-1 {
    transform: rotate(90deg);
}

#chkbox-1:checked ~  #item-body-1 {
    transform: scale(1);
    max-height: 200px;
}

#chkbox-2:checked ~ #item-body-2 {
    transform: scale(1);
    max-height: 200px;
}

#chkbox-2:checked ~ label #arr-2 {
    transform: rotate(90deg);
}

#chkbox-3:checked ~ #item-body-3 {
    transform: scale(1);
    max-height: 200px;
     
}

#chkbox-3:checked ~ label #arr-3 {
    transform: rotate(90deg);
}

.all-radio{
    display: none;
}

#rad-1:checked ~ label #arr-rad-1 {
    transform: rotate(90deg);
}

#rad-1:checked ~ #item-body-rad-1 {
    transform: scale(1);
    max-height: 200px;
}

#rad-2:checked ~ label #arr-rad-2 {
    transform: rotate(90deg);
}

#rad-2:checked ~ #item-body-rad-2 {
    transform: scale(1);
    max-height: 200px; 

}

/* 
@media only screen and (max-width: 900px) {

    #chkbox-1:checked ~  #item-body-1 {
        height: 140px;
    }

    #chkbox-2:checked ~  #item-body-2 {
        height: 60px;
    }
    #chkbox-2:checked ~  #item-body-3 {
        height: 100px;
    }

    #rad-2:checked ~ #item-body-rad-2 {
        height: 60px; 
    }
    #rad-1:checked ~ #item-body-rad-1 {
        height: 140px; 
    }
  }


  @media only screen and (max-width: 600px) {

    #chkbox-1:checked ~  #item-body-1 {
        height: 160px;
    }

    #chkbox-2:checked ~  #item-body-2 {
        height: 70px;
    }
    #chkbox-2:checked ~  #item-body-3 {
        height: 120px;
    }

    #rad-2:checked ~ #item-body-rad-2 {
        height: 70px; 
    }
    #rad-1:checked ~ #item-body-rad-1 {
        height: 160px; 
    }
  } */